body {
    font-family: 'Poppins', sans-serif;
}

.text-prim {
    color: #14183E;
}

.text-second {
    color: #5E6282;
}

.text-gray {
    color: #707070;
}
.text-pink{
    color: #F215B6;
}
.text-green{
    color: #A6E51C;
}
.text-brown{
    color: #FF7C16;
}
.badge-content {
    background-color: rgba(116, 116, 116, 0.2);
    font-size: 14px;
    color: #5E6282;
    min-width: 88px;
    border-radius: 25px;
}

.poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* ========================= Slider ====================== */
.activeHeader,.activeHeader .navbar{
    background-color: white;
    border-bottom: 1px solid #ededed;
}
.customHeader .nav-item .nav-link{
    color: #080809;
}
.customHeader .navbar-brand img{
    height: 75px;
}
.carousel-indicators button {
    background: none;
    border: none;
    position: relative;
    padding: 0;
    margin: 0 10px; /* Adjust spacing between buttons */
}

.carousel-indicators button span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 4;
}


.carousel-indicators button:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 30px; /* Adjust as necessary to position the line correctly */
    width: 40px;  /* Adjust the length of the line */
    height: 2px;  /* Adjust the thickness of the line */
    border-bottom: 3px dotted rgb(83, 83, 83); /* Dashed line */
    transform: translateY(-50%);
}
.slide .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0px;
}
.slide .carousel-indicators .active{
    transform: scale(1.2);
}
.slide .carousel-indicators .slide-color-pink{
    width: 25px;
    height: 25px;
    background-color: #F215B6;
    border-radius: 50%;
    z-index: 1;
}
.slide .carousel-indicators .slide-color-green{
    width: 25px;
    height: 25px;
    background-color: #A6E51C;
    border-radius: 50%;
    z-index: 1;
}
.slide .carousel-indicators .slide-color-brown{
    width: 25px;
    height: 25px;
    background-color: #FF7C16;
    border-radius: 50%;
    z-index: 1;
}
.slider h3{
    font-weight: 800;
    font-size: 20px;
}
.slider h2{
    font-size: 65px;
    font-weight: bold;
}
.slider p{
    color: #5E6282;
    font-size: 16px;
}
.slider .btn-find{
    background-color: #FF7C16;
    color: #FFFFFF;
    height: 60px;
}
.slider .btn-video .demo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.slider .img-bg{
    right: -300px;
    top: -300px;
    position: absolute;
    animation: rotate 4s linear infinite;
}
.slider .img-traveller{
    height: 500px;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* ======================== digital ======================= */
.digital {
    background-color: #F1F1F1;
    padding: 100px 0 100px 40px;
}

.digital .deliver {
    background-color: #F215B6;
    min-height: 540px;
    text-align: right;
}

.digital .deliver h2 {
    font-weight: 800;
    color: #253776;
    font-size: 48px;
}

.digital .deliver p {
    font-weight: 500;
    color: #FFFFFF;
    font-size: 28px;
}

.digital .transformation {
    margin-right: -17.1rem;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
}

.digital .transformation .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.463);
    top: 0;
    width: 250px;
    height: 250px;
}

.digital .transformation .overlay .absolute-items {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFFFFF;
}

.digital .transformation .overlay .absolute-items .visibility {
    visibility: hidden;
}

.digital .transformation .overlay:hover .absolute-items .visibility {
    visibility: visible;
}

.digital .transformation .item {
    flex: 33%;
    max-width: 250px;
    padding: 0;
    position: relative;
}

.digital .transformation .item-hover:hover .overlay {
    background-color: rgba(53, 17, 185, 0.463);
    cursor: pointer;
}

.digital .transformation .item:first-child {
    margin-top: 10rem;
}

.digital .transformation .item:nth-child(2) {
    margin-top: 5rem;
}

.digital .transformation .item:last-child {
    margin-top: -2rem;
}

.digital .transformation .item img {
    width: 250px;
    height: 250px;
    margin-top: 0;
    vertical-align: middle;
    object-fit: cover;
}

/* ======================== tab news ======================== */
.top-news {
    background: url('../images/left-circle.svg') no-repeat;
    background-position: top right;
}

.top-news .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.top-news .media {
    font-size: 18px;
}

.top-news .nav .nav-item {
    background-color: #E3E3E3;
    border-radius: 12px;
    min-width: 100px;
    text-align: center;
}

.top-news .nav .nav-item .nav-link {
    color: #14183E;
}

.top-news .nav .nav-item .nav-link.active {
    background-color: #0ECEFF;
    color: #FFFFFF;
}

.card-news {
    border-radius: 24px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-color: #FFFFFF;
    overflow: hidden;
}

.card-news .card-img-top {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.card-news .card-body .card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card-news .card-body .card-text img {
    width: 20px;
    height: 20px;
}

.card-news .card-footer {
    background-color: unset;
}

.card-news .card-footer .btn i {
    color: #13BEFF;
}

.top-news .btn-view {
    min-width: 250px;
    background-color: #FF7C16;
    color: #FFFFFF;
    height: 60px;
    border-radius: 8px;
}

/* ============================= Footer ======================== */
.footer .img-footer {
    height: 60px;
    width: 157px;
    object-fit: cover;
}

.footer .description {
    color: #5E6282;
    font-size: 14px;
    font-weight: 500;
}

.footer .link {
    margin-bottom: 0.5rem;
}

.footer .link a {
    color: #5E6282;
    font-size: 18px;
    text-decoration: none;
}

.footer .socials {
    display: flex;
    gap: 20px;
    padding-bottom: 1.5rem;
}

.footer .socials a {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: #080809;
}

.footer .download {
    background-color: #080809;
    border-radius: 25px;
    padding: 5px 20px;
}

.footer .download img {
    height: 35px;
}

/* ============================= media screens ======================== */
@media screen and (max-width: 1200px) {
    .digital .transformation {
        margin-right: 0px;
    }
}
@media screen and (max-width: 1023px) {

    .digital .transformation .item:first-child,
    .digital .transformation .item:nth-child(2),
    .digital .transformation .item:last-child {
        margin-top: 0;
    }

    .digital {
        padding: 0;
    }
    .digital .transformation .item,.digital .transformation .item img,.digital .transformation .overlay{
        width: 245px;
        max-width: 245px;
    }
}

@media screen and (max-width: 600px) {
    .slider .img-traveller{
        object-fit: contain;
        height: 400px;
    }
    .slider .img-bg{
        top: -100px;
        width: 500px;
    }
    .slider h3{
        font-size: 18px;
    }
    .slider h2{
        font-size: 35px;
    }
    .digital .transformation .item {
        flex: 100%;
        width: 100%;
        max-width: 100%;
    }
    .digital .transformation .overlay ,.digital .transformation .item img {
        width: 100%;
        max-width: 100%;
    }
    .digital .deliver{
        min-height: auto;
        text-align: left;
    }
    .digital .deliver h2{
        font-size: 30px;
    }
    .digital .deliver p{
        font-size: 20px;
    }
}